* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgba(158, 24, 236, 0.9);
}
.heading
{
  padding: 13px;
  color: #fff;
  text-align: center;
}
.container {
  background: #ffff;
  width: 90vmin;
  margin-top: 25px;
  padding: 10px 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
}
.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
button {
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  outline: none;
  background: #ffff;
  color: #020929;
  border: none;
  border: 1px solid #e0e9ff;
  border-radius: 2px;
}
button:hover{
    background-color: #e0e9ff;
    cursor: pointer;
}
select{
    padding: 7px;
    border: 1px solid #020929;
    font-family: "popins",sans-serif;
}

.options label,
.options select{
    font-family: "popins",sans-serif;
}
.input-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}
input[type="color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
    padding: 1px;
}
input[type="color"]::-webkit-color-swatch{
    border-radius: 15px;
box-shadow: 0 0 0 2px #ffff, 0 0 0 3px #020929
}
input[type="color"]::-moz-color-swatch{
    border-radius: 15px;
box-shadow: 0 0 0 2px #ffff, 0 0 0 3px #020929
}
#text-input{
    margin-top: 10px;
    border: 1px solid #dddd;
    padding: 20px;
    height: 50vh;
    overflow: hidden;
}
.active{
    background-color: #e0e9ff;
}
#save-btn{
  background-color: #637ffb;
  color: #020929;
  width: 44px;
  border-radius: 2px;
  border: 1px solid #637ffb;
}
#save-btn:hover{
  background-color: #a0b1fb;
}
